<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jay.tourguideapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IchiranInfo"
            android:label="@string/city_restaurant_Ichiran"/>
        <activity android:name=".NewWonjoInfo"
            android:label="@string/city_restaurant_Wonjo"/>
        <activity android:name=".HagiInfo"
            android:label="@string/city_restaurant_Hagi"/>
        <activity android:name=".JoesPizzaInfo"
            android:label="@string/city_restaurant_Joes"/>
        <activity android:name=".CentralParkInfo"
            android:label="@string/city_parks_Central_Park"/>
        <activity android:name=".BrooklynBridgeParkInfo"
            android:label="@string/city_parks_Brooklyn"/>
        <activity android:name=".HillsParkInfo"
            android:label="@string/city_parks_hills"/>
        <activity android:name=".HighLineParkInfo"
            android:label="@string/city_parks_The_High_Line"/>
        <activity android:name=".MetroMuseumInfo"
            android:label="@string/city_arts_Metro"/>
        <activity android:name=".MuseumModernArtInfo"
            android:label="@string/city_arts_The_Museum_of_Modern_Art"/>
        <activity android:name=".MuseumOfSexInfo"
            android:label="@string/city_arts_Museum_Sex"/>
        <activity android:name=".AmericanMuseumInfo"
            android:label="@string/description_American_Museum"/>
        <activity android:name=".EmpireStateInfo"
            android:label="@string/city_entertainment_empire_state"/>
        <activity android:name=".TimesSquareInfo"
            android:label="@string/city_entertainment_timesSquare"/>
        <activity android:name=".BrooklynBridgeInfo"
            android:label="@string/city_entertainment_empire_state"/>
        <activity android:name=".StatueLibertyInfo"
            android:label="@string/city_entertainment_StatueLib"/>
    </application>

</manifest>